{% extends "base.html" %}
{% block content %}

<h2>Add a New Member</h2>

<form action="/members" method="POST">
    <div>
        <label for="full_name">Full Name:</label>
        <input type="text" id="full_name" name="full_name">
        <label for="experience_level">Experience Level:</label>
        <select name="experience_level" id="experience_level">
            <option value="beginner">Beginner</option>
            <option value="intermediate">Intermediate</option>
            <option value="advanced">Advanced</option>
            <option value="elite">Elite</option>
        </select>
        <input type="submit">
    </div>
</form>

{% endblock %}