{% extends 'base.html' %}

{% block content %}
<h1>Scheduling</h1>
<p class="btn--wrapper">
  <a class="btn btn--action" href="/schedules/new">New schedule</a>
</p>
<h3>Current Scheduled Classes: </h3>
<ul>
  {% for schedule in schedules %}
  <li>
  <p>{{ schedule.member.full_name }} - {{ schedule.gymclass.lesson_name }} - {{ schedule.gymclass.difficulty_level }} - {{ schedule.gymclass.day}} - {{ schedule.gymclass.duration }}  </p>
    <p>
        <form class="button" action="/schedules/{{schedule.id}}/delete" method='POST'>
            <input type="submit" value="delete">
    </p>
  </li>
  {% endfor %}
</ul>
{% endblock %}