{% extends 'base.html' %}

{% block content %}
<h1>Scheduling</h1>
<p class="btn--wrapper">
  <a class="btn btn--action" href="/schedules/new">New schedule</a>
</p>
<h3>Current Scheduled Classes: </h3>
<ul>
  {% for schedule in schedules %}
  <li>
  <p>{{ schedule.member.full_name }} - {{ schedule.gymclass.lesson_name }} </p>
    <p>
      <form action="/schedules/{{ schedule.id }}/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="delete" />
      </form>
    </p>
  </li>
  {% endfor %}
</ul>
{% endblock %}