<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>classJim</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<header>
    <h1>classJim</h1>
</header>
<body>
    <main>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/members">Members</a>
                </li>
                <li>
                    <a href="/gymclasses">Gym Classes</a>
                </li>
                <li>
                    <a href="/schedules">Schedule</a>
                </li>
            </ul>
        </nav>
        <section id="content">
            {% block content %}

            {% endblock %}
        </section>
    </main>
</body>
</html>