{% extends "base.html" %}

{% block content %}

<h3>Edit Lesson: {{gymclass.lesson_name}} - {{gymclass.duration}} - {{gymclass.difficulty_level}} - {{gymclass.capacity}} - {{gymclass.day}}</h3>

<form class=form action="/gymclasses/{{gymclass.id}}" method="POST">
            <label for="lesson_name">Lesson Name</label>
            <input type="text" name="lesson_name" value="{{gymclass.lesson_name}}" required>
            <label for="duration">Duration</label>
            <input type="number" name="duration" min="0" max="90" value="{{gymclass.duration}}" required>
            <label for="difficulty_level">Difficulty Level</label>  
            <select name="difficulty_level">
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advanced">Advanced</option>
                <option value="Elite">Elite</option>
            </select>
            <label for="capacity">Capacity</label>
            <input type="number" name="capacity" min="0" max="35" value="{{gymclass.capacity}}" required>
            <label for="day">Day</label>
            <select name="day" value="{{gymclass.day}}" required>
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
            </select>
            <input class="button" type="submit" value="Edit Gym Class">
        </div>
    </div>
</form>

{{result}}

{% endblock %}
